// Color variables
$black: #000;
$text-color: #222;
$dark-bg: #333;
$bright-green: #30ff8a;
$light-text: #9b9b9b;
$light-shade: #ddd;
$off-white: #f4f2e9;
$white: #fff;
$secondary-highlight: #ff7091;

// RGBA color variables
$overlay-grey: rgba(0, 0, 0, .01);
$darken-tint: rgba(0, 0, 0, .15);
$lighten-tint: rgba(255, 255, 255, .15);

// Background pattern variables
$halftone: url("img/halftone.png") center;
$overlay: url("img/absurdidad.png") center;

// Secondary color variable definitions
$reverse-text: $off-white;
$menu-stripe-odd: $dark-bg;
$menu-stripe-even: $black;
$selection-bg: $bright-green;
$menu-highlight: $bright-green;
$link-text: $text-color;
$link-highlight: $bright-green;
$inactive: $light-shade;

// Font stack variables
$serif-stack: Alegreya, Georgia, serif;
$sans-stack: "Alegreya Sans", sans-serif;
$display-stack: "Dala Floda Web", Alegreya, Georgia, serif;

// Layout variables
$body-padding: 1.5em 5%;
$more-padding: 1.5em 12.5%;
$max-width: 60em;

// Media query mixin
$breakpoints: (
  xs: 22em, // EXTRA SMALL (old mobile) screens, ≤ 352px
  m: 45em,  // MEDIUM (laptop) screens, ≥ 720px
  fw: 63em, // FULL-WIDTH, ≥ 1008px
);

$queries: (
  xs: "max-width: #{map-get($breakpoints, xs)}",
  m: "min-width: #{map-get($breakpoints, m)}",
  fw: "min-width: #{map-get($breakpoints, fw)}",
);

@mixin mq ($size) {
  @media only screen and (map-get($queries, $size)) {
    @content;
  }
}

@mixin mq-between ($minsize, $maxsize) {
  @media only screen and (min-width: map-get($breakpoints, $minsize)) and (max-width: calc(#{map-get($breakpoints, $maxsize)} - 1px)) {
    @content;
  }
}

// Composer List Grid Mixin
@mixin composers-grid($cols, $gutter: .75em) {
  display: inline-block;
  margin-right: $gutter;
  margin-bottom: $gutter - .375em;
  width: calc((100% - #{($cols - 1) * $gutter}) / #{$cols});
  vertical-align: top;

  &:nth-child(#{$cols}n) {
    margin-right: 0;
  }
}
